.grid-table {
  display: grid;
  grid-template-columns: 1fr 140px;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.drag-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.5rem;
  .name {
    width: 120px;
  }

  .title {
    width: 120px;
  }
}

.mask {
  display: flex;
  justify-content: center;
  align-items: center;
}
