<table class="sort-table">
  <thead>
    <tr>
      @for (column of columns; track column) {
      <td [attr.data-id]="column">{{ column }}</td>
      }
    </tr>
  </thead>
  <tbody>
    @for (user of users; track user.name) {
    <tr>
      @for (column of columns; track column) { @switch (column) { @case ('name')
      {
      <td>{{ user.name }}</td>
      } @case ('title') {
      <td>{{ user.title }}</td>
      } @case ('mask') {
      <td>{{ user.mask }}</td>
      } } }
    </tr>
    }
  </tbody>
</table>
